h1 {
    background-color: rgb(107, 226, 43);
    border: 6px solid rgb(92, 0, 128);
    text-align: center;
    padding: 20px;
    font-family:  helvetica, serif;
    margin: 0 700px;
}

h2 {
    background-color: rgb(196, 255, 217);
    width:200px;
}

body {
    background-color: hsla(54, 76%, 53%, 0.5);
}

img {
    border: 4px solid yellow;
    margin-left: 100px;
}

ul, ol {
    border: 4px solid green;
    margin-right: 500px;
}
